@font-face {
    font-family: 'Wedgie';
    src: url('../fonts/wedgie/WedgieRegular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SeaFire';
    src: url('../fonts/seaweed-fire/seafire.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WarHeroes';
    src: url('../fonts/warheroes/War-Heroes.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
