@font-face {
    font-family: 'Wedgie';
    src: url('angulorecto.github.io/babysitting/src/fonts/wedgie/WedgieRegular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SeaFire';
    src: url('angulorecto.github.io/babysitting/src/fonts/seaweed-fire/SEAWFA_.TTF') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WarHeroes';
    src: url('angulorecto.github.io/babysitting/src/fonts/warheroes/War-Heroes.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
