@font-face {
    font-family: 'Wedgie';
    src: url('../fonts/WedgieRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SeaFire';
    src: url('../fonts/seafire.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WarHeroes';
    src: url('../fonts/War-Heroes.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Autumn';
    src: url('../fonts/AutumnWind.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenFlame';
    src: url('../fonts/OpenFlame.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlanetBenson';
    src: url('../fonts/planetbe.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RoyalInferno';
    src: url('../fonts/RoyalInferno.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlanetBenson';
    src: url('../fonts/planetbe.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SundayMango';
    src: url('../fonts/SundayMango.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UnderStation';
    src: url('../fonts/UnderStation.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
